<!doctype html>
<html lang="is">
  <head>
    <meta charset="utf-8" />
    <title>Daily Tracker</title>
  </head>

  <body>
    <main>
      <body>
        <h2>Error</h2>
      </body>
    </main>
  </body>
</html>
