<!doctype html>
<html lang="is">
  <head>
    <meta charset="utf-8" />
    <title>Daily Tracker</title>
    <style>
      <%- include('mainCSS') %>
    </style>
  </head>

  <body>
    <div class="wrapper">
      <main>
        <header><%- include('navigation') %></header>

        <body>
          <%- include('table') %>
        </body>
      </main>
    </div>
  </body>
</html>
