<!doctype html>
<html lang="is">
  <head>
    <meta charset="utf-8" />
    <title>Daily Tracker</title>
  </head>

  <body>
    <main>
      <body>
        <form action="/register" method="POST">
          <input
            type="text"
            name="username"
            placeholder="Enter username"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Enter password"
            required
          />
          <button type="submit">Register</button>
        </form>
        <div>
          <p>Already have an account?</p>
          <a href="/login">log in here</a>
        </div>
      </body>
    </main>
  </body>
</html>
